<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodingSeb.Converters" version="1.0.3" targetFramework="net48" />
  <package id="CodingSeb.ExpressionEvaluator" version="1.4.16" targetFramework="net48" />
  <package id="CodingSeb.Layouts" version="1.0.1" targetFramework="net48" />
  <package id="Fody" version="6.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="PropertyChanged.Fody" version="3.3.1" targetFramework="net48" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net48" />
</packages>